/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 0.5em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
}
 
/* Section Styles */
section {
    margin-bottom: 20px;
}
  

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

section p {
    margin-bottom: 15px;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
	
}

/* Form Styles */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background: #555;
}
